// screen
$tiny: 320px;
$sm: 575px;
$md: 767px;
$l: 900px;
$lg: 1023px;
$x: 1132px;
$xl: 1439px;

// colors
$black: #3b3b3b;
$white: #fff;
$blue: #2186fa;
$blue-ultra-light: #e5f1ff;
$green: #00e676;
$orange: #f06150;
$orange-border: #fb4721;
